atomicwrites==1.4.0
attrs==21.4.0
Brotli==1.0.9
cffi==1.15.0
colorama==0.4.5
cssselect2==0.6.0
ctypes-callable==1.0.4
fonttools==4.33.3
html5lib==1.1
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pangocffi==0.10.0
Pillow==9.1.1
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pydyf==0.2.0
pyparsing==3.0.9
pyphen==0.12.0
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tabulate==0.8.9
tinycss2==1.1.1
tomli==2.0.1
weasyprint==55.0
webencodings==0.5.1
Werkzeug==2.1.2
zopfli==0.2.1


